<a href="https://colab.research.google.com/github/Sayabugaribhanusri/Sayabugaribhanusri/blob/main/assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.
x="10"
print("type if variable x")

type if variable x

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a=5
b=10
c=15
sum=("a+b+c")
print(5+10+15)

30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
a=6
b=5.4
c="bhanu"
print("type of a:",type(a))
print("type of b:",type(b))
print("type of c:",type(c))

type of a: <class 'int'>
type of b: <class 'float'>
type of c: <class 'str'>

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
a=int(input("enter the first number:"))
b=int(input("enter the second number:"))
print("addition of a,b:",a+b)
print("subtraction of a,b:",a-b)
print("multiplication of a,b:",a*b)
print("division of a,b:",a/b)

enter the first number:7
enter the second number:8
addition of a,b: 15
subtraction of a,b: -1
multiplication of a,b: 56
division of a,b: 0.875

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.
a="123"
print("before type casting:",type(a))
a=int(a)
b=float(a)
print("after type casting:",type(a))
print("after type casting:",type(b))

before type casting: <class 'str'>
after type casting: <class 'int'>
after type casting: <class 'float'>

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
x=input("enter a string:")
print(x[0])

enter a string:bhanu
b

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
x=input("enter string:")
print("length of string:",len(x))

enter string:bhanu
length of string: 5

In [ ]:
# Write a Python program to check if a given string contains only alphabets.
x="sanvi123"
x.isalpha()
print("string contains only alphabets")

string contains only alphabets

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
x=input("enter string1:")
y=input("enter string2:")
print("concatination of two strings:",x+y)

enter string1:bhanu
enter string2:sri
concatination of two strings: bhanusri

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
x=input("enter string:")
print(x.index("abc"))

enter string:bhanuabc
5

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)
x=input("enter string name:")
x=x.upper()
print("uppercase of given string:",x)
y=x.lower()
print("lowercase of given string:",y)

enter string name:bhanu
uppercase of given string: BHANU
lowercase of given string: bhanu

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
a=input("enter a string:")
print(a.count('1'))

enter a string:bhanu
0

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
a=input("enter user name:")
print("hello",a,"good morning")

enter user name:bhanu
hello bhanu good morning

In [ ]:
# Write a Python program to take two numbers as input and print their sum.
a=int(input('enter string1:'))
b=int(input('enter string2:'))
print("sum of given values:",a+b)

enter string1:3
enter string2:5
sum of given values: 8

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
name=input("enter name:")
age=input("enter age:")
print("my name is",name,"and I am",age,"years old")

enter name:bhanu
enter age:20
my name is bhanu and I am 20 years old

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.



number = float(input("Enter a number: "))
if number > 0:
    print(f"{number} is a positive number.")
elif number < 0:
    print(f"{number} is a negative number.")
else:
    print("The number is zero.")

Enter a number: 4
4.0 is a positive number.

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
def find_maximum(num1, num2, num3):
    if num1 >= num2 and num1 >= num3:
        return num1
    elif num2 >= num1 and num2 >= num3:
        return num2
    else:
        return num3
number1 = float(input("Enter the first number: "))
number2 = float(input("Enter the second number: "))
number3 = float(input("Enter the third number: "))
max_number = find_maximum(number1, number2, number3)
print("The maximum of the three numbers is:", max_number)

Enter the first number: 1
Enter the second number: 3
Enter the third number: 2
The maximum of the three numbers is: 3.0

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)

def is_leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False
year = int(input("Enter a year: "))
if is_leap_year(year):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 1998
1998 is not a leap year.

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)


# Function to check if a number is divisible by both 3 and 5
def is_divisible_by_3_and_5(number):
    if number % 3 == 0 and number % 5 == 0:
        return True
    else:
        return False

# Taking user input
number = int(input("Enter a number: "))

# Checking and printing whether the number is divisible by both 3 and 5
if is_divisible_by_3_and_5(number):
    print(f"{number} is divisible by both 3 and 5.")
else:
    print(f"{number} is not divisible by both 3 and 5.")

Enter a number: 2
2 is not divisible by both 3 and 5.

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)


# Function to check if a string is a palindrome
def is_palindrome(s):
    # Removing any spaces and converting the string to lowercase
    s = s.replace(" ", "").lower()
    # Checking if the string is equal to its reverse
    return s == s[::-1]

# Taking user input
user_string = input("Enter a string: ")

# Checking and printing whether the string is a palindrome
if is_palindrome(user_string):
    print(f'"{user_string}" is a palindrome.')
else:
    print(f'"{user_string}" is not a palindrome.')

Enter a string: Bhanu
"Bhanu" is not a palindrome.

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.


# Using a for loop to print numbers from 1 to 10
for number in range(1, 11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.


# Initialize the starting number
number = 1

# Using a while loop to print even numbers from 1 to 20
while number <= 20:
    if number % 2 == 0:
        print(number)
    number += 1

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)


# Taking user input
number = int(input("Enter a number: "))

# Using a for loop to print the multiplication table of the given number
print(f"Multiplication table for {number}:")
for i in range(1, 11):
    print(f"{number} x {i} = {number * i}")

Enter a number: 4
Multiplication table for 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)


# Take input from the user for n
n = int(input("Enter a number: "))

# Initialize variables
sum_of_numbers = 0
number = 1

# Calculate the sum using a while loop
while number <= n:
    sum_of_numbers += number
    number += 1

# Print the result
print(f"The sum of all numbers from 1 to {n} is: {sum_of_numbers}")

Enter a number: 2
The sum of all numbers from 1 to 2 is: 3

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)


# Take input from the user for the number
n = int(input("Enter a number: "))

# Initialize variables
factorial = 1
number = 1

# Calculate the factorial using a while loop
while number <= n:
    factorial *= number
    number += 1

# Print the result
print(f"The factorial of {n} is: {factorial}")

Enter a number: 4
The factorial of 4 is: 24

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)


# Take input from the user for the number of terms
n = int(input("Enter the number of terms: "))

# Initialize the first two terms of the Fibonacci sequence
a, b = 0, 1

# Print the Fibonacci sequence up to n terms
print("Fibonacci sequence:")
for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b  # Update the values of a and b for the next term

Enter the number of terms: 12
Fibonacci sequence:
0 1 1 2 3 5 8 13 21 34 55 89

In [ ]:


# Write a Python program to find all the prime numbers from 1 to 100.


# Loop through numbers from 2 to 100
for num in range(2, 101):
    # Check if the number is divisible by any number between 2 and itself
    is_prime = True
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break
    # If the number is prime, print it
    if is_prime:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).


# Loop through numbers from 1 to 100
for num in range(1, 101):
    if num > 50:
        print(f"Number greater than 50 found: {num}")
        break  # Break out of the loop when a number greater than 50 is found

Number greater than 50 found: 51

In [ ]:


# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.

# Loop through numbers from 1 to 20
for num in range(1, 21):
    if num % 2 == 0:
        continue  # Skip even numbers
    print(num)

1
3
5
7
9
11
13
15
17
19

In [1]:


# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)

string = input("Enter a string: ")
char = input("Enter the character to count: ")
count = 0
for c in string:
    if c == char:
        count += 1
print(f"The character '{char}' appears {count} times in the string.")

Enter a string: Bhanu
Enter the character to count: A
The character 'A' appears 0 times in the string.

In [3]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)

number = int(input("Enter a number: "))
sum_of_digits = 0
while number > 0:
    digit = number % 10
    sum_of_digits += digit
    number //= 10
print(f"The sum of the digits is: {sum_of_digits}")

Enter a number: 4
The sum of the digits is: 4

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [4]:
# Write a Python program to create a list of integers and print the sum of the elements.


numbers = [1, 2, 3, 4, 5]
total_sum = sum(numbers)
print("The sum of the elements in the list is:", total_sum)

The sum of the elements in the list is: 15

In [ ]:
# Write a Python program to find the largest element in a list.


# Create a list of integers
numbers = [1, 2, 3, 4, 5]

# Find the largest element in the list
largest_element = max(numbers)

# Print the largest element
print("The largest element in the list is:", largest_element)

The largest element in the list is: 5

In [5]:
# Write a Python program to reverse a list.



numbers = [1, 2, 3, 4, 5]
reversed_numbers = numbers[::-1]
print("The reversed list is:", reversed_numbers)

The reversed list is: [5, 4, 3, 2, 1]

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.


# Create a list of integers
numbers = [1, 2, 3, 4, 2, 5, 2, 6]

# Specify the element to be removed
element_to_remove = 2

# Remove all occurrences of the specified element
numbers = [num for num in numbers if num != element_to_remove]

# Print the list after removal
print("The list after removing all occurrences of", element_to_remove, "is:", numbers)

The list after removing all occurrences of 2 is: [1, 3, 4, 5, 6]

In [ ]:
# Write a Python program to find the index of an element in a list.


# Create a list of integers
numbers = [1, 2, 3, 4, 5]

# Specify the element to find
element_to_find = 3

# Find the index of the specified element
if element_to_find in numbers:
    index = numbers.index(element_to_find)
    print(f"The index of {element_to_find} in the list is: {index}")
else:
    print(f"{element_to_find} is not in the list.")

The index of 3 in the list is: 2

In [ ]:
# Write a Python program to find if a specific element exists in a list.


# Create a list of integers
numbers = [1, 2, 3, 4, 5]

# Specify the element to find
element_to_find = 3

# Check if the element exists in the list
if element_to_find in numbers:
    print(f"{element_to_find} exists in the list.")
else:
    print(f"{element_to_find} does not exist in the list.")

3 exists in the list.

In [ ]:
# Write a Python program to remove duplicates from a list.


# Create a list of integers with duplicates
numbers = [1, 2, 3, 2, 4, 5, 4, 6, 5]

# Remove duplicates by converting the list to a set and then back to a list
unique_numbers = list(set(numbers))

# Print the list after removing duplicates
print("The list after removing duplicates is:", unique_numbers)

The list after removing duplicates is: [1, 2, 3, 4, 5, 6]

In [ ]:
# Write a Python program to count the occurrences of an element in a list.


# Create a list of integers
numbers = [1, 2, 3, 2, 4, 5, 2, 6]

# Specify the element to count
element_to_count = 2

# Count the occurrences of the specified element
count = numbers.count(element_to_count)

# Print the count
print(f"The element {element_to_count} occurs {count} times in the list.")

The element 2 occurs 3 times in the list.

In [ ]:
# Write a Python program to get the number of even numbers in a list.


# Create a list of integers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Count the number of even numbers in the list
even_count = sum(1 for num in numbers if num % 2 == 0)

# Print the count of even numbers
print(f"The number of even numbers in the list is: {even_count}")

The number of even numbers in the list is: 5

In [ ]:
# Write a Python program to create a tuple and print it.


# Create a tuple of integers
numbers = (1, 2, 3, 4, 5)

# Print the tuple
print("The tuple is:", numbers)

The tuple is: (1, 2, 3, 4, 5)

In [ ]:
# Write a Python program to convert a tuple to a list and vice versa.


# Create a tuple
numbers_tuple = (1, 2, 3, 4, 5)

# Convert the tuple to a list
numbers_list = list(numbers_tuple)
print("Tuple converted to list:", numbers_list)

# Convert the list back to a tuple
numbers_tuple_again = tuple(numbers_list)
print("List converted back to tuple:", numbers_tuple_again)

Tuple converted to list: [1, 2, 3, 4, 5]
List converted back to tuple: (1, 2, 3, 4, 5)

In [ ]:
# Write a Python program to find the maximum and minimum values in a tuple.


# Create a tuple of integers
numbers_tuple = (10, 20, 4, 45, 99)

# Find the maximum and minimum values in the tuple
max_value = max(numbers_tuple)
min_value = min(numbers_tuple)

# Print the maximum and minimum values
print("The maximum value in the tuple is:", max_value)
print("The minimum value in the tuple is:", min_value)

The maximum value in the tuple is: 99
The minimum value in the tuple is: 4

In [ ]:
# Write a Python program to unpack a tuple into variables.



# Create a tuple
person = ("John", 25, "Engineer")

# Unpack the tuple into variables
name, age, profession = person

# Print the unpacked variables
print("Name:", name)
print("Age:", age)
print("Profession:", profession)

Name: John
Age: 25
Profession: Engineer

In [ ]:
# Write a Python program to add an element to a set and check if an element exists in the set.


# Create a set
my_set = {1, 2, 3, 4, 5}

# Add an element to the set
my_set.add(6)

# Print the updated set
print("Updated set:", my_set)

# Check if an element exists in the set
element_to_check = 3
if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

Updated set: {1, 2, 3, 4, 5, 6}
3 exists in the set.

In [ ]:
# Write a Python program to create a dictionary with keys and values and print it.


# Create a dictionary with keys and values
my_dict = {
    "name": "John",
    "age": 25,
    "profession": "Engineer"
}

# Print the dictionary
print("The dictionary is:", my_dict)

The dictionary is: {'name': 'John', 'age': 25, 'profession': 'Engineer'}

In [ ]:
# Write a Python program to access a dictionary value using a key.


# Create a dictionary with keys and values
my_dict = {
    "name": "John",
    "age": 25,
    "profession": "Engineer"
}

# Access a value using a key
key_to_access = "age"
value = my_dict[key_to_access]

# Print the value
print(f"The value for the key '{key_to_access}' is: {value}")

The value for the key 'age' is: 25

In [ ]:
# Write a Python program to check if a key exists in a dictionary.


# Create a dictionary with keys and values
my_dict = {
    "name": "John",
    "age": 25,
    "profession": "Engineer"
}

# Specify the key to check
key_to_check = "age"

# Check if the key exists in the dictionary
if key_to_check in my_dict:
    print(f"The key '{key_to_check}' exists in the dictionary.")
else:
    print(f"The key '{key_to_check}' does not exist in the dictionary.")

The key 'age' exists in the dictionary.

In [ ]:
# Write a Python program to merge two dictionaries.


# Create two dictionaries
dict1 = {"name": "John", "age": 25}
dict2 = {"profession": "Engineer", "city": "New York"}

# Merge the two dictionaries
merged_dict = {**dict1, **dict2}

# Print the merged dictionary
print("Merged dictionary:", merged_dict)

Merged dictionary: {'name': 'John', 'age': 25, 'profession': 'Engineer', 'city': 'New York'}

In [ ]:
# Write a Python program to remove a key from a dictionary.


# Create a dictionary with keys and values
my_dict = {
    "name": "John",
    "age": 25,
    "profession": "Engineer"
}

# Specify the key to remove
key_to_remove = "age"

# Remove the key using the del statement
if key_to_remove in my_dict:
    del my_dict[key_to_remove]
    print(f"Key '{key_to_remove}' has been removed.")
else:
    print(f"Key '{key_to_remove}' does not exist.")

# Print the updated dictionary
print("Updated dictionary:", my_dict)

Key 'age' has been removed.
Updated dictionary: {'name': 'John', 'profession': 'Engineer'}

In [ ]:
# Write a Python program to get the number of keys in a dictionary.



# Create a dictionary with keys and values
my_dict = {
    "name": "John",
    "age": 25,
    "profession": "Engineer"
}

# Get the number of keys in the dictionary
num_keys = len(my_dict)

# Print the number of keys
print("The number of keys in the dictionary is:", num_keys)

The number of keys in the dictionary is: 3

In [ ]:
# Write a Python program to find the largest and smallest values in a dictionary.


# Create a dictionary with keys and values
my_dict = {
    "a": 10,
    "b": 20,
    "c": 5,
    "d": 30
}

# Find the largest and smallest values in the dictionary
largest_value = max(my_dict.values())
smallest_value = min(my_dict.values())

# Print the largest and smallest values
print("The largest value in the dictionary is:", largest_value)
print("The smallest value in the dictionary is:", smallest_value)

The largest value in the dictionary is: 30
The smallest value in the dictionary is: 5

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [ ]:
# Write a Python function that returns the square of a number.


def square_number(number):
    return number ** 2


result = square_number(4)
print(result)

16

In [ ]:


# Write a Python function that accepts two parameters and returns their sum.


def sum_two_numbers(a, b):
    return a + b


result = sum_two_numbers(3, 5)
print(result)

8

In [ ]:


# Write a Python function to check if a given number is prime.
def is_prime(number):
    if number <= 1:
        return False
    if number == 2:
        return True
    if number % 2 == 0:
        return False
    for i in range(3, int(number**0.5) + 1, 2):
        if number % i == 0:
            return False
    return True


result = is_prime(17)
print(result)

True

In [ ]:
# Write a Python function to calculate the factorial of a number using recursion.


def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)


result = factorial(5)
print(result)

120

In [ ]:


# Write a Python function to calculate the power of a number using recursion.


def power(base, exponent):
    if exponent == 0:
        return 1
    else:
        return base * power(base, exponent - 1)


result = power(2, 3)
print(result)

8

In [ ]:


# Write a Python function to accept a list and return its length without using the built-in len() function.


def list_length(lst):
    count = 0
    for _ in lst:
        count += 1
    return count
my_list = [1, 2, 3, 4, 5]
result = list_length(my_list)
print(result)

5

In [ ]:


def sum_positional_args(*args, **kwargs):
    total = sum(args)
    print(total)


sum_positional_args(1, 2, 3, a=4, b=5)  # Output: 6






# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.

6

In [ ]:


# Write a Python function to find the maximum of two numbers using keyword arguments.


def max_of_two_numbers(**kwargs):
    a = kwargs.get('a')
    b = kwargs.get('b')
    if a is None or b is None:
        raise ValueError("Both 'a' and 'b' keyword arguments must be provided")
    return a if a > b else b


result = max_of_two_numbers(a=5, b=3)
print(result)

5

In [ ]:


# Write a Python function that accepts a list of numbers and returns their product.


def product_of_list(numbers):
    product = 1
    for number in numbers:
        product *= number
    return product


result = product_of_list([1, 2, 3, 4, 5])
print(result)

120

In [ ]:


# Write a Python function to check if a number is even or odd using the modulo operator.


def is_even_or_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"


result = is_even_or_odd(7)
print(result)

Odd

In [ ]:


# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.


squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Write a Python program to filter out all even numbers from a list using list comprehension.


numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_numbers = [x for x in numbers if x % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9]

In [ ]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.


words = ["apple", "banana", "kiwi", "cherry", "fig", "orange"]
long_words = [word for word in words if len(word) > 4]
print(long_words)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.Sure! Here's a Python program to create a list of all uppercase letters in a string using list comprehension:

input_string = "Hello World! Python is AWESOME"
uppercase_letters = [char for char in input_string if char.isupper()]
print(uppercase_letters)

['H', 'W', 'P', 'A', 'W', 'E', 'S', 'O', 'M', 'E']

In [ ]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.Sure! Here's a Python program to generate the first n Fibonacci numbers using list comprehension:

def fibonacci(n):
    fib = [0, 1]  # Starting values for the Fibonacci sequence
    [fib.append(fib[-2] + fib[-1]) for _ in range(2, n)]  # List comprehension to generate the sequence
    return fib[:n]  # Return the first n Fibonacci numbers


n = 10
result = fibonacci(n)
print(result)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:


# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.


numbers = [1, 2, 3, 4, 5]
squares_dict = {num: num**2 for num in numbers}
print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.


keys = ['a', 'b', 'c', 'd']
values = [1, 2, 3, 4]
dict_comprehension = {keys[i]: values[i] for i in range(len(keys))}
print(dict_comprehension)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.


cubes_dict = {num: num**3 for num in range(1, 6)}
print(cubes_dict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [ ]:
# Write a Python program to square each element of a list using the map() function.


numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x**2, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25]

In [ ]:
# Write a Python program to filter all even numbers from a list using the filter() function.


numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6, 8, 10]

In [ ]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.


check_divisible = lambda x: x % 3 == 0 and x % 5 == 0

# Example usage:
number = 15
result = check_divisible(number)
print(result)  # Output: True

True

In [ ]:


# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map() function:



numbers = [1, 2, 3, 4, 5]
doubled_numbers = list(map(lambda x: x * 2, numbers))
print(doubled_numbers)

[2, 4, 6, 8, 10]

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.


def remove_occurrences(lst, element):
    return [x for x in lst if x != element]


numbers = [1, 2, 3, 4, 2, 5, 2]
element_to_remove = 2
updated_list = remove_occurrences(numbers, element_to_remove)
print(updated_list)

[1, 3, 4, 5]

**Note:**
- All assignments must follow [PEP 8  Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`